<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CNode中文社区</title>
    <link rel="icon" href="/asset/img/cnode_icon_32.png" type="image/x-icon"/>
    <% if(extractor){ %>
    <%- extractor.getStyleTags() %>
    <% } %>
    <% if(preloadedState){ %>
    <script>window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState)%></script>
    <% } %>
</head>
<body>
<div id="root"><% if(html){%><%- html %><%}%></div>
<% if(extractor) {%>
<%- extractor.getScriptTags() %>
<% } %>
</body>
</html>